@model ContactSuggestion.Models.ContactSuggestions

@{
    ViewBag.Title = "SuggestionDetails";
}

<h2>SuggestionDetails</h2>

<div>
    <h4>ContactSuggestions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microcategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitiLevelBusiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitiLevelBusiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
