@model ContactSuggestion.Models.Location
@{
    ViewBag.Title = "ModalPopUp";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Location</h4>
        </div>
        <br />  
        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">             
                @Html.DropDownList("City", ViewData["City"] as List<SelectListItem>, "Select")                
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Suburb, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Suburb, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Suburb, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LocationName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Add" class="btn btn-primary" onclick="return SaveData();"  />
                    <input type="hidden" id="hdnID" />
                </div>
            </div>
      
      

    </div>
 
    <script type="text/javascript">

    function SaveData() {       
        if (document.getElementById('hdnID').value == "0" || document.getElementById('hdnID').value == "") {
            alert("Please select Suburb");
        }
        else {

            $.ajax({
                url: "/ContactDetails/SaveLocation",
                type: "POST",

                data: JSON.stringify({
                    'Suburb': document.getElementById('Suburb').value,
                    'LocationName': document.getElementById('LocationName').value,
                    'City': document.getElementById('City').value
                }),

                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Message != "") {
                        alert(data.Message);
                    }
                    if (data.isRedirect) {
                        alert("Location is added.");
                        $('#myModal').modal('hide');

                    }

                },
            });
        }
    }   
    $(function () {
        $("#Suburb").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/ContactDetails/AutoCompleteSuburb/',
                    data: "{ 'prefix': '" + request.term + "' ,'city':'"+$("#City").val()+"'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {                           
                            return item;
                        }))
                    },
                    
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },                  

                });
            },
            select: function (e, i) {
                $("#hdnID").val(i.item.val);
            },
            minLength: 2
        });
    });
    $(function () {
        $("#LocationName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/ContactDetails/AutoCompleteLocationWithSuburb/',                  
                    data: "{ 'prefix': '" + request.term + "','suburb':'" + $("#Suburb").val() + "','city':'" + $("#City").val() + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },

                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },

                });
            },          
            minLength: 2
        });
    });

    </script>
}